/* -------------------------------------------------------- RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}
:root{
    --cor1a: #000000;
    --cor1b: #000000EE;

    --cor2a: #3E065F;
    --cor2b: #3E065FDD;
    
    --cor3a: #700B97;
    --cor3b: #700B97CC;
    
    --cor4a: #AF07FF;
    --cor4b: #AF07FFBB;
}
/* -------------------------------------------------------- GERAL */
/* html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
} */
/* body {
    display: flex;
    flex-direction: column;
} */
/* -------------------------------------------------------- HEADER */
header{
    background: linear-gradient(180deg, var(--cor1b)  50%, var(--cor2a));
    display: flex;
    justify-content: center;
    height: 10vh;
    position: fixed;
    width: 100vw;
}
header > nav{
    display: flex;
    align-items: center;
    width: 100vw;
    justify-content: space-around;
}
header > nav > a{
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: var(--cor4a);
    /* padding: 1%; */
    transition: .5s;
}
header > nav > a:hover{
    scale: 1.1;
    color: var(--cor4b);
}
/* -------------------------------------------------------- MAIN */
main{
    /* flex: auto; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    list-style: none;
    padding: 0;
    margin: 0;
    width: 300vw;
}
main > section{
    margin: 10vh 0 8vh 0;
    background: radial-gradient( var(--cor4a), var(--cor2a) 65%);
    height: 82vh;
    width: 100vw;
}
/* ------------------------------------ SOBRE */
#sobre{
    padding: 5vh 10vw;
}
#sobre > img{
    width: 40vw;
    border-radius: 50%;
    display: block;
    margin: auto;
}
#sobre > p{
    display: block;
    margin: 4vh 0;
    padding: 1.5rem;
    text-align: justify;

    border-radius: 20px;
    
    /* backdrop-filter: blur(5px); */
    
    background: linear-gradient(180deg, #0D0DFD33,  #FD0D0D0F);
    
    /* background: linear-gradient(#404259FF,  #0D0D0DFF); */

    /* background-color: #40425977; */

    /* border: solid 3px;
    border-color: red; */
}
#sobre > p > span{
    background-color: #FFB20055;
}

/* ------------------------------------ #hobbies{} */
/* #hobbies{
    padding: 5vh 0;

    border: solid 3px;
    border-color: red;
} */
#hobbies > img{
    width: 100vw;
    height: 82vh;
    display: block;
    margin: auto;
    
    /* header=10vh ~ footer=8vh */
    /* width: 100vw; */
    /* height: 82vh; */
    /* margin: 15vh 15vw; */
}
/* ------------------------------------ #contato{} */
/* -------------------------------------------------------- FOOTER */
footer{
    background: linear-gradient(0deg, var(--cor1b) , var(--cor2a));
    height: 8vh;
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100vw;
    bottom: 0;
}
footer > nav{
    display: flex;
    align-items: center;
    width: 30vw;
    justify-content: center;

    /* border: solid 5px;
    border-color: red; */
}
footer > nav > a{
    text-decoration: none;
    color: white;
    padding: 5px;
    font-size: large;
    transition: .5s;
}
footer > nav > a:hover{
    scale: 1.1;
}
.logo{
    width: 30px;
}
